AMBIENTE_APP=local
DOMINIO=xxxxxxxxx
APP_PORT=xxxx
APP_VERSION=/api/v1
ZONA_HORARIA="America/Bogota"
CERTIFICATES_SSL_PATH=/opt/ssl
HELMET_CONNECT_SRC=xxxxxxxxxxxxxxxxxx
CORS_ORIGINS=xxxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxxxx


JWT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxx"
JWT_STATIC_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

REQUEST_TIMEOUT=000000000000

DB_MS_HOST=xxxxxxxxxxxxxxx
DB_MS_PORT=xxxx
DB_MS_DB=xxxxxxxxxxxx
DB_MS_USER=xxxxxxxxxxxxx
DB_MS_PASS=xxxxxxxxxxxxx
